atomicwrites==1.4.0
attrs==19.3.0
backports.functools-lru-cache==1.6.1; python_version < "3.2"
cachetools==3.1.1
certifi==2020.4.5.2
chardet==3.0.4
colorama==0.4.3; sys_platform == "win32" and python_version != "3.4"
configparser==4.0.2; python_version < "3"
contextlib2==0.6.0.post1; python_version < "3.4"
coverage==5.1
curlify==2.2.1
django==1.11.29
django-tastypie==0.14.3
funcsigs==1.0.2; python_version < "3.3"
idna==2.9
importlib-metadata==1.6.1; python_version < "3.8"
mock==3.0.5
more-itertools==5.0.0; python_version <= "2.7" or python_version > "2.7"
packaging==20.4
pathlib2==2.3.5; python_version < "3.6"
pluggy==0.13.1
py==1.8.1
pyparsing==2.4.7
pytest==4.6.10
pytest-cov==2.9.0
pytz==2020.1
requests==2.23.0
scandir==1.10.0; python_version < "3.5"
six==1.14.0
urllib3==1.25.9
wcwidth==0.2.4
zipp==1.2.0; python_version < "3.8"
